:root {

}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin-inline: auto;
    text-align: center;
    /* outline: 1px solid red; */
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}


.wrapper{
    height: 100%;
    padding: 16px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    gap: 5px;
    padding: 16px;
}

.tile {
    background-color: brown;
    flex: 0 0 calc(33.33% - 4px);
    cursor: pointer;
    border-radius: 16px;
    transition: transform 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    color: white;
    width: 100px;
    height: 100px;
    &:hover {
        background-color: rgb(192, 55, 55);
        transform: scale(1.05);
    }
}

.tile > h1 {
    font-size: 32px; 
    line-height: 1; 
    color: white;
    font-weight: bold;
}

button {
    border: none;
    color: white;
    border-radius: 10px;
    padding: 13px;
    background-color: rgb(247, 155, 35);
    cursor: pointer;
}